@using Microsoft.AspNetCore.Components

<div>
    <p>@CardModel.Title</p>
    <p>@CardModel.Description</p>
</div>

@code{
    [Parameter]
    public Models.CardComponent CardModel {get; set; } = new Models.CardComponent();
}