

<MudDialog>
    <DialogContent>
       
            <MudContainer MaxWidth="MaxWidth.Medium">
                <br>
                <div>
                    <MudText Typo="Typo.body1">
                         @model.TaskDescription
                    </MudText>
                </div>
                   
                
                <br>
                
                <MudText Typo="Typo.body1">Comentarios</MudText>
                <MudTextField T="string"  Variant="Variant.Outlined" Lines="3" Label="Escribe tu comentario"></MudTextField>
            </MudContainer>
        
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Primary" OnClick="Close">Cerrar</MudButton>
    </DialogActions>
</MudDialog>

@code{
    [CascadingParameter] 
    MudDialogInstance MudDialog { get; set; }

    [Parameter, EditorRequired]
    public Taskes? model {get;set;}

    public MudBlazor.Color ColorState {get;set;}

      private void Close()
    {
        MudDialog.Close(DialogResult.Ok(true));
    }


    

}