@layout IndexLayout
@inject NavigationManager navigation
@page "/"

    <div class="d-flex justify-center">
        <MudImage Src="images/logo.png"  ObjectFit="ObjectFit.Contain"Width="150" Height="250" Alt="logo" Elevation="0"/>
    </div>
    <MudText Typo="Typo.h4" Align="Align.Center">Planner</MudText>
    <br>
    <MudText Typo="Typo.subtitle1" Align="Align.Center">Una forma simple y visual de organizar el trabajo en equipo.</MudText>
    <br>
    <div class="d-flex justify-center flex-grow-1 gap-4">

            <MudIcon Icon="@Icons.Material.Outlined.Task"></MudIcon>

            <MudIcon Icon="@Icons.Material.Outlined.CalendarToday"></MudIcon>
            <MudIcon Icon="@Icons.Material.Outlined.AccessTime"></MudIcon>
    </div>
    <br>
    <div class="d-flex justify-center mt-1">

            <MudButton Style="@($"background:#3AB394;margin-top:1rem;color:white;")" OnClick="GoToLogin">Inicia Sesión</MudButton>
    </div>
 @code{

    void GoToLogin()
    {
        navigation.NavigateTo("/login");
    }
 }
